<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery/dist/jquery.min.js}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/js/bootstrap.min.js}">
</head>

<body>
    <div class="container-fluid">
        <div>
            <h1>Shopme Control Panel</h1>
        </div>
        <div>
            <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
    </div>
</body>

</html>